<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/html-head.ejs') %>
  <%- include('../partials/nav.ejs')  %> 
<body>
  <main>
    <h2><%= title %> results </h2>
    <% results.response.forEach(player => { %>
      <a href="/players/<%= player.player.id %>">
      <%= player.player.firstname %>
      <%= player.player.lastname %>
    </a>
    <% }) %>
  </main>
</body>
<%- include('../partials/footer.ejs') %>
</html>