<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/html-head.ejs') %>
  <%- include('../partials/nav.ejs')  %> 
<body>
  <main>
    <h2><%= title %></h2>
    <% results.forEach(player => { %>
      <h1><%= player.player.firstname %> <%= player.player.lastname %></h1><br>
      <% if (player.player.photo) { %> 
        <img src="https://media.api-sports.io/football/players/<%= player.player.id %>.png">
      <% } else { %>
        <p>no image provided</p>
      <% } %> 
      <%= player.player.nationality %>
      <% player.statistics.forEach(stat => { %>
        <%= stat.team.name %> 
      <% }); %> 
    <div>
      <% // if(!userHasPlayer) { %>
        <form action="/players/<%= player.player.id %>/addPlayer?_method=PATCH" method="POST">
          <input type="text" name="name" hidden value="<%= player.player.name %>">
          <input type="number" name="apiId" hidden value="<%= player.player.id %>">
          <% player.statistics.forEach(stat => { %>
            <input type="number" name="gamesPlayed" hidden value="<%= stat.games.appearences %>">
            <input type="number" name="goals" hidden value="<%= stat.goals.total %>">
            <input type="string" name="team" hidden value="<%= stat.team.name %>">
            <input type="number" name="passes" hidden value="<%= stat.passes.total %>">
            <input type="number" name="yellowCards" hidden value="<%= stat.cards.yellow %>">
            <input type="number" name="redCards" hidden value="<%= stat.cards.red %>">
            <% }); %>     
          <button>Add player to your list</button>      
        </form>
      <% }) %> 
    </div>
    <% // }) %>
    <div>
      <% results.forEach(player => { %>
      <form action="/players/<%= player.player.id %>/removePlayer?_method=PATCH" method="POST">
        <% player.statistics.forEach(stat => { %>
          <input type="number" name="apiId" hidden value="<%= player.player.id %>">
        <button>Remove player from your list</button>      
      </form>
      <% }) %> 
      <% }) %>     
    </div>
  </main>
</body>
<%- include('../partials/footer.ejs') %>
</html>