<!DOCTYPE html>
<html lang="en">
<%- include('../partials/html-head.ejs') %>
  <%- include('../partials/nav.ejs') %>

    <body>
      <main>
        <h2>
          <%= title %>
        </h2>        
        <% results.forEach(player=> { %>
          <br>
          <% if (player.player.photo) { %>
          <div class="card text-center shadow-2xl bg-base-content">
            <figure class="px-10 pt-10">
              <div class="mb-8 rounded-full w-30 h-30">
                  <div class="avatar">
                  <img src="https://media.api-sports.io/football/players/<%= player.player.id %>.png" class="rounded-xl">
                </div>
              </div>
              <% } else { %>
                <p>no image provided</p>
                <% } %>
            </figure> 
            <div class="card-body">
              <h2 class="card-title text-black"><%= player.player.firstname %>
                <%= player.player.lastname %></h2> 
              <p class="text-neutral">National team: <%= player.player.nationality %> <br>
                <% player.statistics.forEach(stat=> { %>
                  League team: <%= stat.team.name %><br>
                  Position: <%= stat.games.position %><br>Appearances this season: <%= stat.games.appearences %><br>
                  <% if (stat.games.position !== "Goalkeeper") { %>
                  Goals: <%= stat.goals.total %><br>Key Passes: <%= stat.passes.key %></p>
                  <% } else { %> 
                    Saves: <%= stat.goals.saves %> 
                  <% }  %> 
              <div class="justify-center card-actions">
              </div>
            </div>
          </div> 
          <% }); %>
            <div>
              <% if(!userHasPlayer) { %>
                <form action="/players/<%= player.player.id %>/addPlayer?_method=PATCH" method="POST">
                  <input type="text" name="firstName" hidden value="<%= player.player.firstname %>">
                  <input type="text" name="lastName" hidden value="<%= player.player.lastname %>">
                  <input type="number" name="apiId" hidden value="<%= player.player.id %>">
                  <% player.statistics.forEach(stat=> { %>
                    <input type="number" name="gamesPlayed" hidden value="<%= stat.games.appearences %>">
                    <input type="number" name="goals" hidden value="<%= stat.goals.total %>">
                    <input type="string" name="team" hidden value="<%= stat.team.name %>">
                    <input type="number" name="passes" hidden value="<%= stat.passes.total %>">
                    <input type="number" name="keyPasses" hidden value="<%= stat.passes.key %>">
                    <input type="number" name="saves" hidden value="<%= stat.goals.saves %>">
                    <input type="number" name="yellowCards" hidden value="<%= stat.cards.yellow %>">
                    <input type="number" name="redCards" hidden value="<%= stat.cards.red %>">
                    <% }); %>
                      <button class="btn btn-success">Add player to your list</button> 
                </form>
                <% } else { %>
            </div>
              <div>
                <% results.forEach(player=> { %>
                  <form action="/players/<%= player.player.id %>/removePlayer?_method=PATCH" method="POST">
                    <% player.statistics.forEach(stat=> { %>
                      <input type="number" name="apiId" hidden value="<%= player.player.id %>">
                      <button class="btn btn-error">Remove player from your list</button>
                  </form>
                  <% }) %>
                    <% }) %>
                    <% } %>
                      <% }) %>
              </div>
      </main>
    </body>
    <%- include('../partials/footer.ejs') %>

</html>