<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/html-head.ejs') %>
  <%- include('../partials/nav.ejs')  %> 
<body>
  <main>
    <h2>Profile index</h2>
    <% profiles.forEach(profile => { %>
      <% if(profile.avatar) { %> 
      <img class="card-img-top" src="<%= profile.avatar %>" alt="<%= profile.name %>">
      <% } else {%>
        <img
          class="card-img-top"
          src="/images/icons/user.png"
          alt="A placeholder avatar"
          width="50"
          height="50"
        />
      <% } %>
      <%= profile.name %> <br><br>
    <% }) %> 
  </main>
</body>
<%- include('../partials/footer') %>
</html>