<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/html-head.ejs') %>
  <%- include('../partials/nav.ejs')  %> 
<body>
  <main>
    <h2><%= profile.name %>'s Profile </h2>
    <div>
      <% profile.playerList.map(player => { %>
        <%= player.name %> 
      <% }); %>
    </div>
  </main>
</body>
<%- include('../partials/footer') %>
</html>