<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/html-head.ejs') %>
  <%- include('../partials/nav.ejs')  %> 
<body>
  <main>
    <h2><%= profile.name %>'s Profile </h2>
    <div>
      <h2>Player List</h2>
      <% profile.playerList.forEach(player => { %>
        <%= player.firstName %>
        <%= player.lastName %> <br>
      <% }); %>
      <h2>Posts</h2>
      <ul>
      <% profile.boardPosts.forEach(post => { %>
        <li><%= post.content %></li> 
      <% }) %> 
      </ul>
    </div>
  </main>
</body>
<%- include('../partials/footer') %>
</html>