<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/html-head.ejs') %>
  <%- include('../partials/nav.ejs')  %> 
<body>
  <main>
    <h1>Teams Index Page</h1>
    <ul>
      <% results.forEach(team => { %>
      <li><a href="/teams/<%= team.team.id %>"><%= team.team.name %></a></li> 
    <% }) %> 
    </ul>
  </main>
</body>
<%- include('../partials/footer') %>
</html>