<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/html-head.ejs') %>
  <%- include('../partials/nav.ejs')  %> 
<body>
  <main>
    <h2><%= title %></h2>
    <ul>
    <% results.forEach(team => { %>
      <% team.players.forEach(player => { %>
        <li><%= player.name %> </li>
      <% }) %> 
    <% })%> 
    </ul>
  </main>
</body>
<%- include('../partials/footer.ejs') %>
</html>