<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/html-head.ejs') %>
  <%- include('../partials/nav.ejs')  %> 
<body>
  <main>
    <h1>Games</h1>
    <ul>
      <% results.forEach(fixture => { %>
        <li><a class="link link-accent" href="/fixtures/<%= fixture.fixture.id %>"><%= fixture.teams.home.name %> - <%= fixture.teams.away.name %></a></li>
      <% }) %> 
    </ul>
  </main>
</body>
<%- include('../partials/footer') %>
</html>