<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/html-head.ejs') %>
  <%- include('../partials/nav.ejs')  %> 
<body>
  <main>
    <h1>Games</h1>
    <div class="flex flex-col w-full">
      <% results.forEach(fixture => { %>
      <div class="grid h-20 card bg-base-300 rounded-box place-items-center"><a class="link link-accent" href="/fixtures/<%= fixture.fixture.id %>"><%= fixture.teams.home.name %> vs. <%= fixture.teams.away.name %></a>
      </div> 
      <div class="divider"></div> 
      <% }) %> 
    </div>
  </main>
</body>
<%- include('../partials/footer') %>
</html>