<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/html-head.ejs') %>
  <%- include('../partials/nav.ejs')  %> 
<body>
  <main>
    <h2><%= title %></h2>
    <% results.forEach(el => { %>
      <h3><%= el.teams.home.name %> - <%= el.teams.away.name %></h3>
      <h4><%= el.fixture.date //.toLocaleDateString() %> </h4>
    <% }) %>
    <% results.forEach(el => { %>
    <form action="/fixtures/<%= el.fixture.id %>/message" method="POST">
    <label for="content"></label>
    <input name="content" placeholder="Message">
    <input type="number" name="fixtureId" hidden value="<%= el.fixture.id %>">
    <button type="submit">Submit</button>
    </form>
    <% }) %>
    <% fixture.boardPosts.forEach(post => {  %>
      <%= post.content %>
    <% }) %> 
  </main>
</body>
<%- include('../partials/footer.ejs') %>
</html>